/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin-top: 18px;
    padding-left: 18px;
    padding-right: 18px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }

    html {
        height:100%;
    }

    body {
        height:100%;
        background-color:dimgrey;
    }
    .card {
        background-color:lightyellow;
       max-height:contain;
    }

    .detailContainer {
        background-color:grey;
    }
}
.navbar-brand{
    color:white;
    font-weight:700;
}
